<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.mr.mapper.QnaMapper">

	<select id="totalCnt" resultType="Integer">
		select count(*) total from board_qna
		<include refid="criteria"></include>
	</select>
	
	<sql id = "criteria">
		<if test="searchType=='S'.toString()">
			where subject like CONCAT('%',#{keyWord},'%')
		</if>
		<if test="searchType=='C'.toString()">
			where contents like CONCAT('%',#{keyWord},'%')
		</if>
		<if test="searchType=='W'.toString()">
			where writer like CONCAT('%',${keyWord},'%')
		</if>
	</sql>
	
	<select id="getList" resultType="qnaVO">
		select * from board_qna
		<include refid="criteria"></include>
		order by qid DESC limit #{startIndex}, #{cntPerPage}
	</select>
	
	<insert id="insert" parameterType="qnaVO">
		insert into board_qna(subject, contents, writer, uid)
		values(#{subject}, #{contents}, #{writer}, #{uid})
	</insert>
	
	<select id="view" parameterType="Integer" resultType="qnaVO">
		select * from board_qna where qid=#{qid}
	</select>
	
	<delete id="delete" parameterType="Integer">
		delete from board_qna where qid=#{qid}	
	</delete>
	
	<update id="update" parameterType="qnaVO">
		update board_qna set subject=#{subject}, contents=#{contents} where qid=#{qid}
	</update>
	
	<update id="hitAdd" parameterType="Integer">
		update board_qna set hit = hit + 1 where qid=#{qid}	
	</update>
</mapper>